[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Cypher Developers
[access "refs/for/refs/*"]
	read = group Cypher Developers
	push = group Cypher Developers
	label-Code-Review = -2..+2 group Cypher Developers
	label-Verified = -1..+1 group Cypher Developers
	rebase = group Cypher Developers
	removeReviewer = group Cypher Developers
	submit = group Cypher Developers
[access "refs/heads/*"]
	read = group Cypher Developers
	create = group Cypher Developers
	push = +force group Cypher Developers
	pushMerge = group Cypher Developers
[access "refs/tags/*"]
	push = +force group Cypher Developers
	pushTag = group Cypher Developers
	pushSignedTag = group Cypher Developers
